.main__manu {
	padding: 0 110px 0 290px;
	width: 100%;
}
.content {
	margin: 0 25px;
	.home__banner {
		margin-bottom: 50px;
		box-sizing: border-box;
		.columns {
			margin: 0;
			align-items: center;
		}
	}
}
