.leftsidebar {
	width: 300px;
	height: 100vh;
	position: fixed;
	border: 1px solid red;
	background: #fff;
	.container {
		padding: 30px;
	}
	.profile {
		position: absolute;
		z-index: 9999;
		width: 100%;
		left: 0;
		background: rgb(255, 255, 255);
		transition: all 300ms ease-in 0s;
		.profile__content {
			text-align: center;
			width: 100%;
			.profile_content--content {
				padding: 0 30px;
				.profile__logo {
					text-align: center;
					img {
						width: auto;
						height: 100px;
						border: none;
						font-size: 15px;
						line-height: inherit;
						margin: 0;
						padding: 0;
						text-align: inherit;
						margin-bottom: 15px;
					}
				}
				.profile__name {
					font-weight: 600;
					font-size: 18px;
					line-height: 1.5;
					text-align: inherit;
					color: rgb(43, 43, 43);
					transition: all 400ms ease-in 0s;
					margin: 0 px;
					padding: 0 px;
				}
				.profile_title {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					opacity: 0.5;
					text-align: inherit;
					color: rgb(43, 43, 43);
					transition: all 400ms ease-in 0s;
					margin: 0 px;
					padding: 0 px;
				}
				.profile__social {
					text-align: center;
					margin: 15px 0;
					a {
						padding: 7px;
						transition: all ease-in 300ms;
					}
					svg {
						font-size: 12px;
						vertical-align: middle;
					}
					.social-link-list {
						a {
							background-color: rgb(255, 180, 0);
							display: inline-block;
							line-height: 0;
							margin-right: 10px;
							margin-bottom: 10px;
							border-radius: 100px;
						}
						svg {
							color: rgb(43, 43, 43);
						}
					}
				}
			}
		}
	}
	.content {
		padding-top: 315px;
		overflow: auto;
		position: relative;
		height: calc(100vh - 440px);
		&::-webkit-scrollbar {
			width: 0;
		}
		.personal__info {
			border: none;
			font-size: 15px;
			line-height: inherit;
			margin: 0;
			padding: 15px 0 15px 0;
			text-align: inherit;
			transition: all 400ms ease-in 0s;
			li {
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 5px 0;
				p {
					padding: 5px 8px;
					font-size: 12px;
					background-color: rgb(255, 180, 0);
					color: rgb(43, 43, 43);
				}
				span {
					font-size: 12px;
				}
			}
		}
		.language {
			padding: 15px 0;
			margin: 15px 0;
			h5 {
				margin-bottom: 15px;
			}
			.language__content {
				margin-bottom: 10px;
				.item {
					display: flex;
					font-size: 12px;
					justify-content: space-between;
					p {
						margin: 0;
						font-size: 15px;
						line-height: 1.5;
						color: rgb(118, 118, 118);
					}
				}
				.progress {
					width: 99%;
					height: 7px;
					display: inline-grid;
					border-radius: 20px;
					border: 1px solid #ffb400;
					.progress__bar {
						width: 98%;
						display: inline-grid;
						.bar {
							background: rgb(255, 180, 0);
							width: 90%;
							max-width: 100%;
							height: 3px;
							align-self: center;
							margin: 2px;
							border-radius: 20px;
							display: inline-table;
							transition: width 1s ease 0s;
						}
					}
				}
			}
		}
		.extra__skills {
			margin: 15 px 0;
			padding: 15px 0 0 0;
			h5 {
				margin-bottom: 15px;
			}
			ul {
				li {
					display: flex;
					justify-content: start;
					margin: 5px 0;
					padding-bottom: 10px;
					img {
						width: auto;
						margin-right: 8px;
						margin-bottom: 15px;
					}
				}
			}
		}
		.bottom__btn {
			text-align: center;
			display: flex;
			flex-direction: column;
			margin-top: 20px;
			button {
				cursor: pointer;
				font-size: 14px;
				font-weight: 600;
				padding: 15px 20px;
				background: rgb(255, 180, 0);
				color: rgb(43, 43, 43);
				svg {
					color: rgb(43, 43, 43);
				}
			}
		}
	}
	.divider {
		background: #e5e5e5;
		width: 100%;
		height: 2px;
		padding: 0 0 0 0;
		opacity: 0.8;
	}
}
